<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>editClient</servlet-name>
        <servlet-class>servlets.editClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlets.AllClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteClient</servlet-name>
        <servlet-class>servlets.deleteClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newClient</servlet-name>
        <servlet-class>servlets.newClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAccount</servlet-name>
        <servlet-class>servlets.addAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allAccountss</servlet-name>
        <servlet-class>servlets.allAccountss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>servlets.deleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allCards</servlet-name>
        <servlet-class>servlets.allCards</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCard</servlet-name>
        <servlet-class>servlets.addCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCard</servlet-name>
        <servlet-class>servlets.deleteCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showTransactions</servlet-name>
        <servlet-class>servlets.showTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allBranches</servlet-name>
        <servlet-class>servlets.allBranches</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBank</servlet-name>
        <servlet-class>servlets.addBank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAtm</servlet-name>
        <servlet-class>servlets.addAtm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allProducts</servlet-name>
        <servlet-class>servlets.allProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>servlets.deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPLoan</servlet-name>
        <servlet-class>servlets.addPLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPCard</servlet-name>
        <servlet-class>servlets.addPCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cardTransaction</servlet-name>
        <servlet-class>servlets.cardTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountTransaction</servlet-name>
        <servlet-class>servlets.accountTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editClient</servlet-name>
        <url-pattern>/editClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteClient</servlet-name>
        <url-pattern>/deleteClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newClient</servlet-name>
        <url-pattern>/newClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAccount</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allAccountss</servlet-name>
        <url-pattern>/allAccountss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allCards</servlet-name>
        <url-pattern>/allCards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCard</servlet-name>
        <url-pattern>/addCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCard</servlet-name>
        <url-pattern>/deleteCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showTransactions</servlet-name>
        <url-pattern>/showTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allBranches</servlet-name>
        <url-pattern>/allBranches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBank</servlet-name>
        <url-pattern>/addBank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAtm</servlet-name>
        <url-pattern>/addAtm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allProducts</servlet-name>
        <url-pattern>/allProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPLoan</servlet-name>
        <url-pattern>/addPLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPCard</servlet-name>
        <url-pattern>/addPCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cardTransaction</servlet-name>
        <url-pattern>/cardTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountTransaction</servlet-name>
        <url-pattern>/accountTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
